# dependencies
/node_modules

# ignore everything under temp/
/temp/*

# except this placeholder
!/temp/.gitkeep

# ignore everything under temp/
/output/*

# except this placeholder
!/output/.gitkeep